.pit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin: 0px;
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    background-color: #1E1E1E33;
  }

}

.pit {
  height: 100px;
  width: 100px;
  padding: 10px;
  cursor: pointer;

  background: linear-gradient(319.8deg, #FFE3C1 13.12%, #D7AF7F 51.64%, #BF925B 85.51%);
  border: 1px solid #BF925B4D;
  border-radius: 50%;
  margin: 8px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
}